/*Body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Pushster';
}
body {

    background-color: #000000;
    color: white;


}

/*Navbar*/

header  {

    margin-top: 0px;
    z-index: 1;
}

.navbar  {
    position: absolute;
    z-index: 2;
}
.logo-nav{
    height: 25px;
}


/*quienes somos*/
.quien_somos h2{
    padding-bottom: 3rem;
}
.quien_somos hr{
    margin-bottom: 3rem;
    color: rgb(0, 225, 255);
    
}

.quien_somos{

    margin-top: 3rem;
    
}

.quien_somos div{

    text-align: left;
} 


/*destacados*/

.destacado{
    margin-top: 3rem;

}

.destacado h2{
    padding-bottom: 3rem;
}

.img-fluid{
    width: auto;
    height: 200px;
}

/*Contacto*/

.contacto{
    padding-bottom: 3rem;
    margin-top: 3rem;

}

.contacto h2, h3{
    padding-bottom: 3rem;
}



/*footer*/

.footer-bgc{
    background-color: cyan !important;
}

.linea {
    background-color: cyan;
    height: 3px;
    margin: 10px 0;
}